<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org
http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
<form th:action="@{/auth}" autocomplete="off" method="post">
    <input class="form__input" type="password" name="input" placeholder="password" required>
    <input type="submit" class="submit_button" value="Authenticate">
</form>
</body>
</html>